$headerColor: #6C3483;
$darkGreen: #298c08;
$lightGreen: #49db18;
$gold: #cfcf63;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.small-circle {
color: $darkGreen;
}

.gold-text {
  color: $gold;
}
.small-email-text {
  color: $lightGreen;
}

.rounded-border {
  border-radius: 25px;
  border: 2px solid $gold;
  padding: 20px;
  width: 200px;
  height: 15px;
}

ol {
  list-style: none;
  display: flex;
  align-items: center;
}

.breadcrumb-separator {
  color: #333;
  margin: auto 6px;
  user-select: none;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #424548;
}
a:hover {
  color: #1da2b3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $headerColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
